.AppLogo {
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.875rem !important;
  font-weight: bold;
  letter-spacing: normal !important;
  color: var(--primaryColor) !important;
  display: flex;
  align-items: center;
  gap: 10px;
}

.Link {
  font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1.9px;
  color: #121212;
  text-decoration: none;
}

.Nav {
  padding: 1rem 6.188rem 1rem 6.25rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.NavItems {
  display: flex;
  align-items: center;
  gap: 2.563rem;
  list-style: none;
}

a.active {
  color: var(--primaryColor);
}
